* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
}

.header {
    border-bottom: 2px solid grey;
    background-color: #ffffff;
}

.myname {
    border: 1px solid black;
    padding-left: 60px;
    width: 450px;
    margin-left: 95px;
    margin-top: 10px;
    font-family: "Georgia", Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: #ffffff;
}

.navigation {
    padding-left: 115px;
    padding-top: 20px;
}

.navigation a {
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
}

.navigation a:hover {
    cursor: pointer;
    color: red;
}

.main {
    border: 2px solid grey;
    margin-top: 60px;
    background-color: #ffffff;
}

.aboutme {
    padding-left: 42px;
    padding-top: 10px;
    color: #4aaaa5;
}

.img-fluid {
    width: 200px;
    height: 200px;
    float: left;
    padding: 20px;
}

img {
    border-radius: 20px;
}

.aside {
    text-align: center;
    border-left: 2px solid grey;
    margin-left: ;
    width: 150px;
}

.fab {
    color: grey;
}

.fab:hover {
    cursor: pointer;
    color: #4aaaa5;
}

.conect {
    padding-top: 50px;
    color: #4aaaa5;
}

.aside a {
    padding: 20px;
}

.footer {
    text-align: center;
    border: 1px solid black;
    margin-top: 125px;
    background-color: #666666;
    border-top: 6px solid #4aaaa5;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    height: 78px;
    padding-top: 40px;
    color: #eeeeee;
}


/* Contact page*/

.contact {
    border: 2px solid grey;
    background-color: #ffffff;
    margin-top: 45px;
}

.form-control {
    width: 400px;
    resize: none;
}

.contactme {
    padding: 10px;
    color: #4aaaa5;
}

input {
    margin-bottom: 5px;
}

.footer-contact {
    text-align: center;
    border: 1px solid black;
    background-color: #666666;
    border-top: 6px solid #4aaaa5;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    margin-top: 30px;
    height: 64px;
    padding-top: 20px;
    color: #eeeeee;
}


/*Portofolio page */

.port {
    width: 240px;
    height: 175px;
}

.port:hover {
    cursor: pointer;
    border: 1px solid #4aaaa5;
}

.p1 {
    padding: 10px;
}

.portfolio {
    border: 2px solid grey;
    background-color: #ffffff;
    margin-top: 45px;
}

.footer-portfolio {
    text-align: center;
    border: 1px solid black;
    background-color: #666666;
    border-top: 6px solid #4aaaa5;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    margin-top: 30px;
    height: 64px;
    padding-top: 20px;
    color: #eeeeee;
}